@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

// css reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;

}
main{
    width:100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fb-profile{
        
        background: #242526;
        color: #fff;
        width: 40%;
        border-radius: 10px;
        overflow: hidden;


        .profile-top{
            display: flex;
            padding: 30px;
            justify-content: space-between;
            align-items: center;


            .profile-up{
                display: flex;
                gap: 1rem;


                .up-img img{
                    width: 40px;
                    height: 40px;
                    position: relative;
                    border-radius: 50%;
                    outline:2px solid #cccc;
                    outline-offset: 1px;
                    object-fit: cover;
                }
                .up-content{
                    h5{
                        font-size: 12px;
                        font-weight: 400;
                        a{
                            color: #fff;
                            font-weight: 600;
                            font-size: 16px;
                        }
                    }
                    .date{
                        font-size: 12px;
                        display: inline-flex;
                        align-items: center;
                        i{
                            margin-left: 5px;
                        }
                    }
                }
            }
            .profile-dot{
                font-size: 18px;
                cursor: pointer;
                    
            }
        }
        .post-status{
            padding: 0 30px 30px;
            position: relative;
            // margin:15px 0 ;
        }
        .post-thumb{
            position: relative;
            width: 100%;
            height: 50vh;
            background: #242526;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: +1;
            
            .user-image{
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1.5px solid #ccc;

                }
            }
        }
        .post-thumb::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 50%;
            background: url(../image/cover.jpg) no-repeat;
            background-position:center;
            background-size: cover;
            left: 0;
            top: 0;
            z-index: -1;

        }
        .post-rect{
            padding: 10px 30px;
            border: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
            .post-like{
                display: flex;
                align-items: center;

                img{
                    width: 15px;
                    height: 15px;
                    
                }
                span{
                    margin-left: 5px;
                    font-size: 13px;

                }
                
            }
            .post-comment{
                span{
                    font-size: 13px;

                }
            }
        }
    }
}
